$grid-settings: (
  size: 1140px,
  gutter: 30px,
  columns: 12,
  global-box-sizing: false
) !default;



// ---------------------------------------------------------------------
// Grid mixins
// ---------------------------------------------------------------------

@mixin columns($columns) {
  width: percentage($columns / map-get($grid-settings, columns));
}

@mixin columns-offset($columns) {
  margin-left: percentage($columns / map-get($grid-settings, columns));
}

@mixin columns-push($columns) {
  left: percentage($columns / map-get($grid-settings, columns));
}

@mixin columns-pull($columns) {
  right: percentage($columns / map-get($grid-settings, columns));
}



// ---------------------------------------------------------------------
// Grid classes
// ---------------------------------------------------------------------

@if (map-get($grid-settings, global-box-sizing) == true) {
  html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.container, .row {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($grid-settings, size);
  padding-left: ceil(map-get($grid-settings, gutter) / 2);
  padding-right: floor(map-get($grid-settings, gutter) / 2);
}

.row {
  margin-left:  ceil(map-get($grid-settings, gutter) / -2);
  margin-right: floor(map-get($grid-settings, gutter) / -2);
}

.column {
  float: left;
  min-height: 1px;
  padding-left: ceil(map-get($grid-settings, gutter) / 2);
  padding-right: floor(map-get($grid-settings, gutter) / 2);
  position: relative;
}
